<div *ngIf="ifError" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
  role="alert">
  <span class="font-medium">{{errorMessage}}</span>
</div>
<div *ngIf="IfSuccess"
  class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
  <span class="font-medium">Success!</span>
</div>
<div class="flex justify-start items-center">
  <svg (click)="previous()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="feather feather-arrow-left">
    <line x1="19" y1="12" x2="5" y2="12"></line>
    <polyline points="12 19 5 12 12 5"></polyline>
  </svg>
  <h2 class="mb-4 pl-2 text-xl font-bold text-gray-900 dark:text-white">


    Contact Details


  </h2>


</div>
<div class="relative p-4  rounded-lg shadow dark:bg-gray-800 sm:p-5" *ngIf="!contactDetails?.deleted">
  <div class="flex justify-start mb-4 rounded-t sm:mb-5">
    <div class="text-lg text-gray-900 md:text-xl dark:text-white">
      <h3 class="font-semibold  ">{{contactDetails?.firstName}} {{contactDetails?.lastName}}</h3>
    </div>

  </div>
  <dl>
    <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Bio</dt>
    <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-white">
      {{contactDetails?.bio}} </dd>
    <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Contact</dt>
    <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-white">{{contactDetails?.phoneNumber}}</dd>
    <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-white">{{contactDetails?.email}}</dd>
    <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-white">{{contactDetails?.physicalAddress}}</dd>

  </dl>
  <div class="flex justify-between items-center">
    <div class="flex items-center space-x-3 sm:space-x-4">
      <button type="button" (click)="edit(contactDetails)"
        class="text-white inline-flex items-center bg-green-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
        <svg aria-hidden="true" class="mr-1 -ml-1 w-5 h-5" fill="currentColor" viewbox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
          <path fill-rule="evenodd"
            d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
            clip-rule="evenodd" />
        </svg>
        Edit
      </button>
    </div>
    <button type="button" (click)="deleteContacts(contactDetails)"
      class="inline-flex items-center text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900">
      <svg aria-hidden="true" class="w-5 h-5 mr-1.5 -ml-1" fill="currentColor" viewbox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
          clip-rule="evenodd" />
      </svg>
      Delete
    </button>
  </div>
</div>
