<div *ngIf="ifError" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
  role="alert">
  <span class="font-medium">{{errorMessage}}</span>
</div>
<div *ngIf="IfSuccess"
  class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
  <span class="font-medium">Success!</span>
</div>
<div class="flex justify-start items-center">
  <svg (click)="previous()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="feather feather-arrow-left">
    <line x1="19" y1="12" x2="5" y2="12"></line>
    <polyline points="12 19 5 12 12 5"></polyline>
  </svg>
  <h2 class="mb-4 pl-2 text-xl font-bold text-gray-900 dark:text-white">


    Contact Details


  </h2>


</div>
<div class="relative p-4  rounded-lg shadow dark:bg-gray-800 sm:p-5" *ngIf="!contactDetails?.deleted">
  <div class="flex justify-start mb-4 rounded-t sm:mb-5">
    <div class="text-lg text-gray-900 md:text-xl dark:text-white">
      <h3 class="font-semibold  ">{{contactDetails?.firstName}} {{contactDetails?.lastName}}</h3>
    </div>

  </div>
  <dl>
    <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Bio</dt>
    <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-white">
      {{contactDetails?.bio}} </dd>
    <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Contact</dt>
    <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-white">{{contactDetails?.phoneNumber}}</dd>
    <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-white">{{contactDetails?.email}}</dd>
    <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-white">{{contactDetails?.physicalAddress}}</dd>

  </dl>

</div>
